
<div class="tableWindow">
	<div class="tableRow tableRowHeader">		
		<div style="width: 20%"><p>Имя</p></div>
		<div style="width: 25%"><p>Фамилия</p></div>
		<div style="width: 20%"><p>Дата рождения</p></div>
		<div style="width: 30%"><p>Телефон</p></div>		
		<div class="Adder" (click)="AddUser()"><p>Add</p></div>
	</div>
	<div *ngFor="let user of users" class="tableRow tableRowActiv">		
		<div style="width: 20%"><p>{{user._source.name}}</p></div>
		<div style="width: 25%"><p>{{user._source.surname}}</p></div>
		<div style="width: 20%"><p>{{user._source.birthday}}</p></div>
		<div style="width: 30%"><p>{{user._source.contact}}</p></div>		
		<div style="width: 10%" class="hideButton"><button (click)="dellUser(user._id)">Удалить</button></div>	
	</div>
	
</div>

<app-user-form *ngIf="addUserForm"></app-user-form>